/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
  * Sidebar CSS
  */
#sidebar {
  background-color: #e57373;
  padding: 15px;
  position: relative;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px;
  }
  #sidebarBtn {
    background-color: #e57373;
    color: #fff;
  }
}

/**
  * Content CSS
  */
@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}
.floatBtn {
  position: fixed;
  bottom: 60px;
  right: 60px;
}
.secondFloatBtn {
  position: fixed;
  bottom: 60px;
  right: 200px;
}
#sidebarBtn {
  position: fixed;
  bottom: 60px;
  left: 60xp;
  background-color: #fff;
  color: #e57373;
}
.modal {
  max-width: 500px;
  max-height: 400px;
  background-color: #fff;
  margin: 100px auto;
  overflow-y: auto;
}

.modal .modal-title {
  text-align: center;
  padding: 1rem;
}

.modal .modal-content {
  padding: 1rem;
}
